#menu div.flux p a{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/extension/planete/design/planete/images/rss.png",sizingMethod='scale')}
body{font-size:60%;}div.post-content pre,div.post-content code{font-size:110%;width:710px;}#menu{width:197px}#header ul{height:20px}
