body
{
background:#dfdfdf;
font-family: Tahoma, Helvetica, Arial, sans-serif;
color:#444;
padding-bottom:1em;
}
a
{
color:#416b96;
}
a:hover
{
color:#ff490f;
}
.post div a, article div a:hover
{
color:#ff490f;
}
article div.info a
{
color:#416b96;
font-weight:bold;
text-decoration:none;
}
h1, h2, h3, h4, h5, h6
{
margin-bottom:0.3em;
}

h1 a, h2 a
{
text-decoration:none;
}
h2, h3
{
color:#02274c;
}
aside h1 a, aside h1
{
color:#000;
}
.yui3-g
{
background:#fff;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.yui3-g, header ul, footer
{
-webkit-box-shadow: 0px 0px 15px 0px #444;
        box-shadow: 0px 0px 15px 0px #444;
}

header p, header ul, footer, .yui3-g
{
margin:0 auto;
max-width:960px;
}
img, pre
{
max-width:100%;
}
pre
{
overflow-x:auto;
overflow-y:hidden;
padding:0.4em;
background:#eee;
border:1px solid #bbb;
}
footer
{
line-height:2em;
border-radius:5px;
text-align:center;
margin-top:2em;
background:#fff;
}
.flux
{
margin-top:1em;
text-align:center;
}
#rss, #twitter
{
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
display:inline-block;
width:64px;
height:64px;
}
#rss
{
background:url(../images/rss.png) no-repeat 0 0;
}
#twitter
{
background:url(../images/twitter.png) no-repeat 0 0;
}
header
{
background:#02274c;
}
header ul
{
background:#416b96;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
header li:first-of-type
{
border-top-left-radius: 5px;
}
header li
{
display:inline-block;
padding:0.7em 1em;
}
header .selected
{
background-image: -moz-linear-gradient(top, #416b96, #02274c);
background-image: -ms-linear-gradient(top, #416b96, #02274c);
background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#416b96), to(#02274c));
background-image: -webkit-linear-gradient(top, #416b96, #02274c);
background-image: -o-linear-gradient(top, #416b96, #02274c);
background-image: linear-gradient(top, #416b96, #02274c);
}
header a
{
color:#fff;
text-decoration:none;
display:block;
}
header a:hover
{
text-decoration:underline;
color:#fff;
}
header p
{
height:100px;
background:url(../images/head.png) no-repeat 0 center;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}
header p a
{
height:100%;
}
article
{
margin:0 1.5em 1.4em 1.5em;
line-height:1.5em;
}
article h1
{
margin-bottom:0.5em;
line-height:1.3em;
}
article h1 span
{
display:none;
}
article p
{
text-align:justify;
margin-bottom:0.5em;
}
article ul
{
margin-top:0.5em;
}
.info
{
background:#eee;
padding:0.4em 0.3em;
border-radius:5px;
}
hr
{
height:0;
width:60%;
border:0;
border-bottom:1px solid #aaa;
}
aside h1
{
padding:0.3em 0.3em 0.4em 0.7em;
background:#eee;
font-weight:normal;
border-radius:3px 0 0 3px;
}
aside ul, .folder ul
{
margin-top:0;
list-style-type:square;
line-height:1.4em;
}
blockquote
{
color:#222;
background:#f3f3f3;
border:1px solid #aaa;
padding:5px 20px;
font-style:italic;
width:80%;
margin:0 auto 5px auto;
}
table, tr, th, td
{
border:1px solid #416b96;
}
table p
{
text-align:left;
line-height:1.1em;
margin:0;
}
th, th p
{
background:#416b96;
color:#fff;
text-align:center;
}
.bgdark
{
background:#f9f9f9;
}
.pagenavigator
{
margin:1em 1.5em 1.4em 1.5em;
font-size:120%;
}
.pagenavigator .previous
{
display:block;
float:left;
}
.pagenavigator .next
{
display:block;
float:right;
}
.pagenavigator .pages
{
text-align:center;
display:block;
}
dt
{
font-size:120%;
font-weight:bold;
}
dt a
{
text-decoration:none;
}
dl dd
{
margin:0.3em 0 1em 0;
text-align:justify;
}

/* custom part */
.quoteleft, .quoteright
{
display:none;
}
