/ezpublish5
/legacy/extensions/CssInlineImageOptimizer/
/legacy/extensions/autostatus/
/legacy/extensions/ezautosave/
/legacy/extensions/ezfind/
/legacy/extensions/ezformtoken/
/legacy/extensions/frontendperformanceboost/
/legacy/ezpublish/
/planet/ezpublish/cache/
/planet/ezpublish/logs/
