<aside class="yui3-u-1-4">
    <div class="block flux">
        <p>
            <a href="{{ path( 'ez_legacy', {'module_uri': 'feed/planet'} ) }}" id="rss" title="Suivez le Planet par le flux RSS">Flux RSS</a>
            <a href="http://twitter.com/pl_ezpublish_fr" id="twitter" title="Suivez le Planet sur Twitter">Twitter du Planet eZ Publish.fr</a>
        </p>
    </div>

    {{ render( controller( 'planet:siteList' ), {'strategy': 'esi'} ) }}
    {{ render( controller( 'planet:richTextBlock' ), {'strategy': 'esi'} ) }}
    {{ render( controller( 'planet:planetarium' ), {'strategy': 'esi'} ) }}

</aside>
