<ul>
{% for location in items %}
    <li><a href="{{ path( location ) }}">{{ location.id == rootLocationId ? 'Accueil' : location.contentInfo.name }}</a></li>
{% endfor %}
    <li class="inline-search">
        <form action={'planet/search'|ezurl()} method="get">
            <input type="search" name="SearchText" value="" placeholder="Rechercher" />
            <input type="submit" class="yui3-button" value="Go!" />
        </form>
    </li>
</ul>
