{% extends viewbaseLayout %}

{% block content %}
<div>
    <h2>
        <a href="{{ path( location ) }}">{{ location.contentInfo.name }}</a>
        : les derniers billets
    </h2>
    <ul>
    {{ render(
        controller(
            "planet:postList",
            {'rootLocationId': location.id, 'paginationLocationId': location.id, 'viewType': 'line', 'limit': 5, 'navigator': false}
        ),
        {'strategy': 'esi'}
    ) }}
    </ul>

</div>
{% endblock %}
